.list-group-item:hover,
.list-group-item:active {
  background-color: #5ba3dd;
  color: white;
  font-weight: 700;
}
.lists {
  border-bottom: 0.2rem solid #66686d;
  border-top: 0.2rem solid #66686d;
  border-right: 2rem solid #66686d;
}
